.text-center {
    text-align: center;
}

.font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.334;
}

.heading {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

.text {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0em;
}

.card {
    margin: 10px auto 10px auto;
    width: 70%;
}